<div class="btn-group-vertical">
                      <button type="button" class="btn btn-default"><span class="badge bg-red">531</span>
                      <i class="fa fa-heart-o"></i></button>
                      <button type="button" class="btn btn-default"><span class="badge bg-red">200</span>
                      <i class="glyphicon glyphicon-education" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-default"><span class="badge bg-red">120</span><i class="glyphicon glyphicon-thumbs-down"></i></button>
                      </div>